.login-class {
  background-color: #1cbc9c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-header {
  color: #ffffff;
  padding: 2rem;
}

.btn-style {
  background-color: #333f4f;
  color: #ffffff;
}

.form-style {
  padding-top: 1.5rem;
}
